.btn {
    color: #222;
    font-size: 20px;
    padding: 20px 30px;
    border: 1px solid #000;
    border-radius: 8px;
    background: #fff;
    z-index: 15;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    max-width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn:hover {
    background: #f0f0f0;
    transform: translateY(-3px);
    cursor:pointer;
}

.warning {
    text-align: center;
    max-width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    position: fixed;
}
.warning:hover {
    background: #f0f0f0;
    transform: translateY(-3px);
    cursor:pointer;
}
